<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
           http://www.springframework.org/schema/security
           http://www.springframework.org/schema/security/spring-security-3.1.xsd">
               
    <http pattern="/login.xhtml" security="none" />
    <http pattern="/cadastroCidadao.xhtml" security="none" />
    <http pattern="/recuperarSenha.xhtml" security="none"/>
    <http pattern="/erro/erro.xhtml" security="none" />
    <http pattern="/erro/acessoNegado.xhtml" security="none" />
    <http pattern="/javax.faces.resource/**" security="none" />
    
    
    <beans:bean id="appUserDetailsService" class="br.ufv.caf.colmeia.projetointerdisciplinar.security.AppUserDetailsService" />
    
    <http auto-config="true" use-expressions="true">
        <!-- FUNCIONALIDADE PERMITIDA PARA TODOS USUÁRIOS LOGADOS -->
        <intercept-url pattern="/index.xhtml" access="isAuthenticated()" />
        <intercept-url pattern="/meuPerfil.xhtml" access="isAuthenticated()" />
        
        <!-- FUNCIONALIDADE DISPONÍVEIS PARA O USUÁRIO DO TIPO CIDADÃO -->
        <intercept-url pattern="/cidadao/realizarDenuncia.xhtml" access="hasAnyRole('CIDADAO')" />
        <intercept-url pattern="/cidadao/minhasDenuncias.xhtml" access="hasAnyRole('CIDADAO')" />
        <intercept-url pattern="/cidadao/denunciasPublicas.xhtml" access="hasAnyRole('CIDADAO')" />
        
        <!-- FUNCIONALIDADE DISPONÍVEIS PARA O USUÁRIO DO TIPO OPERACIONAL -->
        <intercept-url pattern="/operacional/validarDenuncia.xhtml" access="hasAnyRole('AGENTEOPERACIONAL')" />
        
        <!-- FUNCIONALIDADE DISPONÍVEIS PARA O USUÁRIO DO TIPO ADMINISTRATIVO -->
        <intercept-url pattern="/administrativo/classificarDenuncia.xhtml" access="hasAnyRole('AGENTEADMINISTRATIVO')" />   
        
        <!-- NEGA ACESSO A  TUDO QUE NÃO ESTÁ ESPECIFICADO -->
        <intercept-url pattern="/**" access="denyAll" />
        
        <!-- FAZ MAPEMENTO DE QUAL É A PÁGINA DE LOGIN -->	
        <form-login login-page="/login.xhtml" authentication-failure-url="/login.xhtml?invalid=true" 
                    default-target-url="/" always-use-default-target="true" />
        <logout logout-url="/j_spring_security_logout" invalidate-session="true" />
        <access-denied-handler error-page="/erro/acessoNegado.xhtml" />
    </http>
	
    <authentication-manager>            
        <authentication-provider user-service-ref="appUserDetailsService">
            <password-encoder hash="md5"/> 
        </authentication-provider>
    </authentication-manager>
           
</beans:beans>